.aside_right {
  grid-area: ra;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: white;
  width: 100%;
  height: 650px;
  border-radius: 25px;
  margin-right: 10px;
  box-shadow: inset 0 10px 16px -6px #585856;
  overflow: scroll;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card_heading {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.card_heading_decoration {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: lightsalmon;
}

.modal_main_content {
  display: grid;
  grid-template-areas:
    "TopImage TopContent"
    "Form Form"
    "Bottom1 Bottom2";
}
