.aside_right {
  grid-area: ra;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: white;
  width: 100%;
  height: 650px;
  border-radius: 25px;
  margin-right: 10px;
  box-shadow: inset 0 10px 16px -6px #585856;
  overflow: scroll;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card_heading {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.card_heading_decoration {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: lightsalmon;
}

.modal_main_content {
  display: grid;
  grid-template-columns: repeat(2, 2fr 1fr);
  grid-auto-rows: 300px 300px 180px;
  gap: 10px;
}

.top_left {
  display: flex;
  justify-content: center;
}

.top_left img {
  border-radius: 10px;
}

.top_right {
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
}

.middle {
  background-color: pink;

  grid-column: 1/-1;
}

.bottom_left {
  background-color: aqua;
  grid-column: 1/3;
}

.bottom_right {
}

.author {
  font-size: small;
  font-style: oblique;
  color: dimgrey;
  font-weight: 600;
}

.title {
  font-weight: bold;
  font-size: small;
  color: #348cb5;
}

.wrap_content {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 20px;
  font-family: serif;
}
