.footer {
  grid-area: f;
  align-self: center;
  justify-self: center;
}

.name {
  font-style: italic;
  font-weight: 600;
  color: dimgray;
}
.year {
  font-size: xx-small;
  padding-left: 20px;
  margin-top: -15px;
  color: dimgray;
}
