.search_main_container {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: grid;

  grid-template-columns:
    [col-start] minmax(200px, 200px) [col-2] 6fr [col-3] minmax(300px, 1fr)
    [col-end];
  grid-template-rows: .2fr auto .2fr;

  grid-template-areas:
    "h h h "
    "la main ra"
    "f f f";
}

@media only screen and (max-width: 900px) {
  .search_main_container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "h"
      "la"
      "main"
      "ra"
      "f";
  }

  .card {
    width: 50%;
    height: 650px;
  }
}
