.bottom_left {
  grid-column: 1/3;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-radius: 10px;
  align-items: center;
  padding: 2px;
}

.bottom_inner_left {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.bottom_inner_left * {
  flex-basis: 50%;
}
