.search_main_container {
  height: 100vh;
  width: 100vw;
  background-color: pink;
  display: grid;

  grid-template-columns: [col-start] 1fr [col-2] 6fr [col-3] 1fr [col-end];
  grid-auto-rows: 100px auto;

  grid-template-areas:
    "h h h "
    "la main ra"
    "f f f";
}

.header {
  background-color: yellow;
  grid-area: h;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.account {
  justify-self: end;
}

.aside_left {
  background-color: red;
  grid-area: la;
  grid-column: 1fr;
}

.main_content {
  background-color: #fff;
  grid-area: main;
  grid-column: 1fr;
}

.aside_right {
  background-color: skyblue;
  grid-area: ra;
  grid-column: 1fr;
}

.footer {
  grid-area: f;
}

.book_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 240px;

  /* flex-flow: row wrap;
  align-items: center; */
  width: 100%;
  /* margin: 0 0 0 50px; */
}

.search_container {
  text-align: center;
  margin: 120px 120px 20px 120px;
}
