.single_card {
  display: grid;
  padding: 5px;
  grid-template-columns: [col-start] 1fr [col-2] 2fr [col-3] 1fr [col-end];
  grid-auto-rows: 70px;
  grid-template-areas: "image details extra";
  gap: 10px;
  cursor: pointer;
}

.wrap_text {
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.middle_portion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right_portion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_portion p {
  font-size: smaller;
  font-weight: bolder;
  color: salmon;
}

.author {
  font-size: small;
  font-style: oblique;
  color: dimgrey;
  font-weight: 600;
}

.title {
  font-weight: bold;
  font-size: small;
  color: #348cb5;
}
